@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@import 'rsuite/dist/rsuite.css';

:root {
    --text-color: #333;
    --header-height: 70px;
    --sidebar-width: 250px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    scroll-behavior: smooth;
    overflow-x: hidden;
    min-width: 200px;

}

.nav>li>a:hover {
    background-color: #DC3545;
}

img {
    border-radius: 50%;
    border: #333;
}

a {
    text-decoration: none;
}

.header-bar {
    z-index: 999;
}

.overlay {
    position: absolute;
    display: none;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    pointer-events: none;
}
.spinner-border {
    animation-duration: 1s;
}
.tox-notification { display: none !important }
/* position-fixed shadow-sm d-flex justify-content-between align-items-center py-2 px-4 bg-white */
/* .header-bar{
    position: fixed;
    box-shadow: 0 1px 2px 0 rgba(2, 2, 2, 0.05);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: var(--header-height); 
    width:calc(100% - var(--sidebar-width));
} */
::-webkit-scrollbar {
    width: 9px;
    height: 9px;

}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    border-radius: 4px;
    background: rgb(174, 174, 174);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(152, 152, 152);
}