.header{
    height: 10%;
    background-color:#000000;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 999;
}
/* navbar */
.navbar
{
    display: flex;
    align-items: center;
    height: 100%; 
    justify-content: space-around;
}
.categories
{
    display: flex;
    align-items: center;
    height: 100%; 
    width: 40%;
    justify-content: space-around;
}
.route_wrap
{
    display: flex;
    align-items: center;
    height: 100%; 
    width: 10%;
    justify-content: space-around;
}
.route-icon
{
    /* border-radius: 10px; */
    border:none;
    background-color: transparent;
    align-items: center;
    color:#ffffff;
    cursor: pointer;
}
.navbar_logo{
    font-size: 100%;
    width: 10%;
    display: block;
    text-decoration: none;
    color: #ffffff ;
}
.categories_wrap_link{
    display: flex;
    align-items: center;
    height: 100%; 
    justify-content: space-around;
    width:25%;
}
.categories_link
{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    
}
.navbar_search
{
    height:50%;
    width: 20%;
    display: flex;
    align-items: center;
}
.navbar__search-text
{
    border-radius: 10px;
    height: 90%;
    width: 90%;
    padding-left:5%;
}
.navbar__search-icon
{
    /* border-radius: 10px; */
    border:none;
    background-color: transparent;
    height: 100%;
    width: 10%;
    color:#ffffff;
    cursor: pointer;
}
.navbar__search-text::placeholder{
    color: var(--primary2-color);
    
}
.navbar__search-wrap
{
    background-color:  #F4F4F4;
    height: 35px;
    width: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    cursor: pointer;

}

.navbar__wrap
{
    display: flex;
    align-items: center;
}
.navbar__cart-icon
{
    margin-right: 6px;
    font-size: 18px;
    cursor: pointer;
}
.navbar__cart-link
{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
}
.navbar__login
{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
}
.navbar__account
{
    text-decoration: none;
    color: var(--primary2-color);
    font-weight: 500;
    font-size: 18px;
    margin-left: 40px;
    display: flex;
    min-width: 100px;
    max-height: 120px;
    display: flex;
    align-items: center;
}
.navbar__account-avatar
{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 0 10px;
}
.navbar__social
{
    margin-left: 20px;
}
.navbar__social-icon_fb
{
    color: #4569ea;
    font-size: 17px;
    margin: 0 3px 0 3px;
}
.navbar__social-icon_insta
{
    color: #ff6b6b;
    font-size: 17px;
    margin: 0 3px 0 3px;
}


@media only screen and (max-width: 450px){
    .navbar__search
    {
        display: none;
    }
    
}
@media only screen and (max-width: 740px){
    .Product{
        min-width: 280px;
        
    }
    .navbar__cart{
        display: none;
    }
    .navbar__search
    {
        max-width: 210px;
        margin-left: 10px;
      
    }
    .navbar__search-text
    {
        max-width: 170px;
      
      
    }
    .navbar__social
    {
        display: none;
    }
    


 }
 
 @media only screen and (min-width: 740px) and (max-width: 1030px){
    .Product{
        max-width: 330px;
        min-width: 300px;
    }
    .navbar__search
    {
       max-width: 250px;
       margin-left: 10px;
    }
    .navbar__search-text
    {
        max-width: 250px;   
      
    }
    .navbar__search-icon {
        color: #cacaca;
        font-size: 18px;
        position: absolute;
        top: 7px;
        left: -6px;
    }

 }
 